body {
}

#composition_menu h1 {
}

#composition_menu hr {
}

#composition_menu p {
}

#menu_form table {
}

#menu_form table td {
}

#menu_form table tr {
}

table #menus {
}

table #menus tr {
}

table #menus th {
}

table #menus td {
}

#menus select {
}

#facture {
}
